In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('sms_spam.csv')

In [3]:
data.head()

   type                                               text
0   ham  Hope you are having a good week. Just checking in
1   ham                            K..give back my thanks.
2   ham        Am also doing in cbe only. But have to pay.
3  spam  complimentary 4 STAR Ibiza Holiday or £10,000 ...
4  spam  okmail: Dear Dave this is your final notice to...

In [4]:
data.shape

(5559, 2)

In [5]:
data.groupby('type').describe()

      text
     count unique                                                top freq
type
ham   4812   4503                             Sorry, I'll call later   30
spam   747    653  Please call our customer service representativ...    4

In [6]:
data['length'] = data['text'].apply(len)

In [7]:
data.head()

   type                                               text  length
0   ham  Hope you are having a good week. Just checking in      49
1   ham                            K..give back my thanks.      23
2   ham        Am also doing in cbe only. But have to pay.      43
3  spam  complimentary 4 STAR Ibiza Holiday or £10,000 ...     149
4  spam  okmail: Dear Dave this is your final notice to...     161

In [8]:
import matplotlib.pyplot as plt
data.hist(column='length',bins=50, by='type', sharex=True, sharey=True)

array([<matplotlib.axes._subplots.AxesSubplot object at 0x00000236EB583F88>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x00000236EB6C7AC8>],
      dtype=object)

In [9]:
data.length.describe()

count    5559.000000
mean       79.781436
std        59.105497
min         2.000000
25%        35.000000
50%        61.000000
75%       121.000000
max       910.000000
Name: length, dtype: float64

# Remove Punctuation

#one way to do
#{ import string
#this is for remove punctuation 
#test="my name/ is liton/.$"
#s=[]

#for i in test:
   # if i not in string.punctuation:
        
      #  s.append(i)
        
#s="".join(s)  
#s}
# output='my name is liton'

#second way to do
#{no_punc = [s for s in text if s not in string.punctuation]
#no_punc = ''.join(no_punc)}
#ouput='my name is liton'

# remove stopwords

import string
from nltk.corpus import stopwords
stopwords=stopwords.words('english')
test="my name is Liton"
s=[]

for i in test.split():
    if i.lower() not in stopwords :
        
        s.append(i)
        
s="".join(s)

In [11]:
from Text_cleaning_LibraryCopy import TextClean

In [32]:
data.text.apply(TextClean.remove_waste("1","liton"))

AttributeError: 'liton' is not a valid function for 'Series' object

In [24]:
TextClean.remove_waste("1","")

'Kgive back thanks'

In [11]:
import string
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
def clean_text(text):
    no_punc = [s for s in text if s not in string.punctuation]
    no_punc = ''.join(no_punc)
    rm_words = [w for w in no_punc.split() if w.lower() not in stop_words]
    return ' '.join(rm_words)

In [12]:
clean_text('hello john!-;/.,<>? how are you.. @#$%^&*I am fine:')

'hello john fine'

In [13]:
data.head()

   type                                               text  length
0   ham  Hope you are having a good week. Just checking in      49
1   ham                            K..give back my thanks.      23
2   ham        Am also doing in cbe only. But have to pay.      43
3  spam  complimentary 4 STAR Ibiza Holiday or £10,000 ...     149
4  spam  okmail: Dear Dave this is your final notice to...     161

# here we are removing stopwords and punctuations from dataset

In [14]:
data.text = data.text.apply(clean_text)

In [15]:
data.head()

   type                                               text  length
0   ham                            Hope good week checking      49
1   ham                                  Kgive back thanks      23
2   ham                                       also cbe pay      43
3  spam  complimentary 4 STAR Ibiza Holiday £10000 cash...     149
4  spam  okmail Dear Dave final notice collect 4 Teneri...     161

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
bag_of_words = CountVectorizer()
bag_of_words.fit(data['text'])
bag_of_words.vocabulary_

{'hope': 4185,
 'good': 3798,
 'week': 8946,
 'checking': 2123,
 'kgive': 4724,
 'back': 1458,
 'thanks': 8188,
 'also': 1158,
 'cbe': 2050,
 'pay': 6199,
 'complimentary': 2335,
 'star': 7759,
 'ibiza': 4304,
 'holiday': 4155,
 '10000': 293,
 'cash': 2028,
 'needs': 5704,
 'urgent': 8669,
 'collection': 2285,
 '09066364349': 260,
 'landline': 4845,
 'lose': 5084,
 'box434sk38wp150ppm18': 1771,
 'okmail': 5967,
 'dear': 2649,
 'dave': 2621,
 'final': 3403,
 'notice': 5842,
 'collect': 2282,
 'tenerife': 8149,
 '5000': 688,
 'award': 1426,
 'call': 1934,
 '09061743806': 222,
 'tcs': 8103,
 'sae': 7088,
 'box326': 1763,
 'cw25wx': 2564,
 '150ppm': 374,
 'aiya': 1107,
 'discuss': 2836,
 'later': 4873,
 'lar': 4858,
 'pick': 6294,
 'much': 5593,
 'buzy': 1909,
 'please': 6353,
 'ask': 1341,
 'mummy': 5608,
 'father': 3333,
 'marvel': 5267,
 'mobile': 5486,
 'play': 6342,
 'official': 5943,
 'ultimate': 8579,
 'spiderman': 7681,
 'game': 3657,
 '450': 640,
 'ur': 8666,
 'right': 6978,
 'text': 8169,
 'spider': 7680,
 '83338': 842,
 'send': 7249,
 'free': 3558,
 '8ball': 903,
 'wallpaper': 8865,
 'fyi': 3642,
 'im': 4346,
 'usf': 8691,
 'swing': 8020,
 'room': 7023,
 'whenever': 9000,
 'sure': 7981,
 'thing': 8239,
 'big': 1633,
 'man': 5230,
 'hockey': 4145,
 'elections': 3081,
 'shouldn': 7374,
 'go': 3765,
 'longer': 5065,
 'hour': 4212,
 'though': 8261,
 'anything': 1236,
 'lor': 5080,
 'march': 5252,
 'ending': 3110,
 'ready': 6764,
 'problem': 6567,
 'capital': 1989,
 'never': 5728,
 'complete': 2329,
 'far': 3323,
 'hows': 4226,
 'work': 9124,
 'ladies': 4830,
 'hmm': 4132,
 'well': 8965,
 'night': 5757,
 'ill': 4342,
 'get': 3716,
 'noon': 5819,
 'see': 7219,
 'whats': 8995,
 'ha': 3933,
 'cool': 2414,
 'chikku': 2154,
 'chikkudb': 2157,
 'darren': 2606,
 'saying': 7157,
 'dat': 2610,
 'meeting': 5332,
 'da': 2568,
 'ge': 3693,
 'den': 2710,
 'dun': 2995,
 'meet': 5329,
 'dinner': 2810,
 'cos': 2433,
 'leave': 4910,
 'xy': 9266,
 'feel': 3355,
 'awkward': 1430,
 'lunch': 5148,
 'dint': 2813,
 'tell': 8134,
 'angry': 1199,
 'told': 8365,
 'abi': 949,
 'wan': 8871,
 'come': 2298,
 'din': 2804,
 'stripes': 7862,
 'skirt': 7474,
 'win': 9041,
 '100': 291,
 'music': 5622,
 'gift': 3731,
 'vouchers': 8817,
 'every': 3198,
 'starting': 7769,
 'txt': 8543,
 'word': 9118,
 'draw': 2939,
 '87066': 871,
 'tscs': 8504,
 'wwwldewcom': 9207,
 'skillgame1winaweek': 7468,
 'age16150ppermesssubscription': 1073,
 '2mro': 516,
 'coming': 2307,
 'gym': 3929,
 'machan': 5184,
 'goodnight': 3809,
 'arr': 1316,
 'birthday': 1654,
 'today': 8348,
 'wish': 9063,
 'oscar': 6057,
 'reading': 6763,
 'gud': 3903,
 'habit': 3935,
 'nan': 5660,
 'bari': 1498,
 'hudgi': 4255,
 'yorge': 9327,
 'pataistha': 6187,
 'ertini': 3160,
 'kano': 4685,
 'sent': 7260,
 'scores': 7178,
 'sophas': 7615,
 'secondary': 7207,
 'application': 1261,
 'schools': 7172,
 'think': 8242,
 'thinking': 8245,
 'applying': 1265,
 'research': 6914,
 'cost': 2435,
 'contact': 2386,
 'joke': 4622,
 'ogunrinde': 5951,
 'school': 7171,
 'one': 5987,
 'less': 4934,
 'expensive': 3253,
 'ones': 5989,
 'could': 2445,
 'read': 6760,
 'love': 5106,
 'answered': 1218,
 'bank': 1487,
 'say': 7153,
 'money': 5515,
 'desperate': 2741,
 'armand': 1306,
 'fuuuuck': 3640,
 'need': 5698,
 'stop': 7825,
 'sleepin': 7485,
 'sup': 7962,
 'weather': 8927,
 'ok': 5959,
 'thanx': 8193,
 'okok': 5968,
 'okthenwhats': 5971,
 'todays': 8354,
 'plan': 6332,
 '1appledayno': 406,
 'doctor': 2868,
 '1tulsi': 428,
 'leafdayno': 4902,
 'cancer': 1979,
 '1lemondayno': 415,
 'fat': 3331,
 '1cup': 408,
 'milkdayno': 5410,
 'bone': 1721,
 'problms': 6573,
 'litres': 5016,
 'watrdayno': 8908,
 'diseases': 2838,
 'snd': 7551,
 'ths': 8280,
 'care': 1999,
 'sorry': 7619,
 'exhausted': 3242,
 'train': 8442,
 'morning': 5540,
 'wine': 9048,
 'pie': 6303,
 'sleep': 7484,
 'nokia': 5807,
 '6230': 735,
 'plus': 6367,
 'digital': 2798,
 'camera': 1967,
 'auction': 1386,
 'take': 8055,
 'part': 6163,
 '83383': 845,
 'pobox11414tcrw1': 6376,
 '16': 391,
 'ron': 7021,
 'fri': 3583,
 'leh': 4922,
 'said': 7095,
 'ding': 2808,
 'tai': 8051,
 'feng': 3367,
 'cant': 1985,
 'make': 5220,
 'reservations': 6917,
 'wait': 8846,
 'youcarlos': 9330,
 'isare': 4500,
 'phones': 6284,
 'vibrate': 8759,
 'acting': 1000,
 'might': 5404,
 'hear': 4027,
 'texts': 8180,
 'oh': 5952,
 'got': 3823,
 'job': 4609,
 'spjanuary': 7689,
 'male': 5227,
 'sale': 7101,
 'hot': 4207,
 'gay': 3677,
 'chat': 2108,
 'cheaper': 2115,
 '08709222922': 96,
 'national': 5672,
 'rate': 6735,
 '15pmin': 390,
 'cheap': 2114,
 '78pmin': 793,
 'peak': 6215,
 '08712460324': 116,
 '10pmin': 310,
 'yeah': 9284,
 'use': 8685,
 'gt': 3897,
 'atm': 1370,
 'register': 6843,
 'theres': 8227,
 'anyway': 1240,
 'help': 4059,
 'let': 4938,
 'know': 4782,
 'nationwide': 5673,
 'auto': 1403,
 'centre': 2067,
 'something': 7587,
 'like': 4972,
 'newport': 5735,
 'road': 7001,
 'liked': 4973,
 'min': 5414,
 'number': 5879,
 'awarded': 1427,
 '2000': 437,
 'prize': 6559,
 'guaranteed': 3901,
 '09061790121': 227,
 'land': 4843,
 'line': 4987,
 'claim': 2208,
 '3030': 552,
 'valid': 8721,
 '12hrs': 337,
 'mah': 5208,
 'tomorrow': 8378,
 'believe': 1591,
 'wat': 8896,
 'ive': 4542,
 'hey': 4091,
 'sat': 7132,
 'sec': 7205,
 'somebody': 7578,
 'want': 8876,
 'yup': 9367,
 'izzit': 4546,
 'still': 7811,
 'raining': 6711,
 'heavily': 4040,
 'mrt': 5571,
 'outside': 6080,
 'going': 3784,
 'finns': 3423,
 'prasanth': 6490,
 'ettans': 3181,
 'mother': 5547,
 'passed': 6178,
 'away': 1428,
 'last': 4865,
 'pray': 6492,
 'family': 3312,
 'enjoy': 3125,
 'showers': 7383,
 'possessiveness': 6442,
 'poured': 6463,
 'loved': 5108,
 'bcoz': 1542,
 'world': 9132,
 'lies': 4956,
 'golden': 3788,
 'truly': 8492,
 'hes': 4086,
 'really': 6775,
 'skateboarding': 7465,
 'despite': 2742,
 'fact': 3286,
 'gets': 3720,
 'thrown': 8276,
 'winds': 9046,
 'bandages': 1482,
 'arms': 1309,
 'five': 3437,
 'minutes': 5436,
 'give': 3746,
 'us': 8681,
 'connection': 2374,
 'decimal': 2670,
 'refund': 6836,
 'bill': 1637,
 'congratulations': 2371,
 '500': 687,
 'cd': 2054,
 '125gift': 334,
 'entry': 3144,
 'wkly': 9084,
 'tncs': 8341,
 'wwwldewcom1win150ppmx3age16': 9208,
 'mum': 5605,
 'robinson': 7006,
 'already': 1152,
 'meh': 5337,
 'fine': 3411,
 'awesome': 1429,
 'deal': 2642,
 'gate': 3673,
 'charles': 2100,
 'uh': 8569,
 'thought': 8262,
 'id': 4316,
 'watch': 8897,
 'thats': 8204,
 'kind': 4743,
 'get4an18th': 3717,
 'loves': 5116,
 'safe': 7090,
 'trip': 8478,
 'nigeria': 5755,
 'happiness': 3983,
 'soon': 7607,
 'company': 2319,
 'share': 7318,
 'moments': 5509,
 'fancy': 3318,
 'meetin': 5331,
 'cha': 2074,
 'hav': 4003,
 'lil': 4978,
 'beverage': 1620,
 'ring': 6984,
 'l8r': 4817,
 'quite': 6690,
 'tired': 8317,
 'vpist': 8819,
 'pete': 6260,
 'didnt': 2780,
 'mean': 5311,
 'post': 6447,
 'wrote': 9176,
 'many': 5246,
 'times': 8306,
 'ritten': 6999,
 'stuff': 7885,
 'sit': 7449,
 'feeling': 3357,
 'time': 8302,
 'left': 4916,
 'hit': 4118,
 'wasnt': 8892,
 'checked': 2121,
 'phone': 6280,
 'car': 1994,
 'bored': 1738,
 'wouldnt': 9155,
 'clean': 2222,
 'fold': 3483,
 'laundry': 4882,
 'etc': 3177,
 'least': 4907,
 'bed': 1564,
 'mapquest': 5248,
 'look': 5068,
 'dogwood': 2882,
 'drive': 2958,
 'tiny': 8314,
 'street': 7850,
 'parking': 6162,
 'lot': 5090,
 'yalrigu': 9272,
 'heltiniiyo': 4069,
 'kothi': 4802,
 'shared': 7319,
 'things': 8241,
 'wit': 9070,
 'meso': 5373,
 'body': 1713,
 'even': 3191,
 'uttered': 8705,
 'abt': 960,
 'trusting': 8495,
 'others': 6060,
 'plz': 6369,
 'nxt': 5895,
 'dont': 2902,
 'words': 9121,
 'meok': 5364,
 'chikkub': 2156,
 'becoz': 1562,
 'jan': 4562,
 'whn': 9015,
 'al': 1115,
 'ofice': 5946,
 'cn': 2255,
 'fr': 3545,
 'oficegot': 5947,
 'duffer': 2991,
 'pix': 6322,
 'would': 9153,
 'top': 8406,
 'bottom': 1750,
 'beautiful': 1554,
 'truth': 8496,
 'gravity': 3857,
 'carefully': 2004,
 'heart': 4031,
 'feels': 3360,
 'light': 4968,
 'someone': 7580,
 'heavy': 4041,
 'leaves': 4911,
 'buzz': 1910,
 'day': 2625,
 'goes': 3779,
 'miss': 5446,
 'babe': 1446,
 'long': 5064,
 'moment': 5508,
 'together': 8358,
 'againloving': 1069,
 'smile': 7526,
 'lara': 4859,
 'loan': 5035,
 'dunno': 2997,
 'remember': 6866,
 'mayb': 5302,
 'tmr': 8337,
 'wats': 8909,
 'opinion': 6018,
 'character': 2093,
 'wasted': 8894,
 'muz': 5630,
 'chiong': 2177,
 'sun': 7951,
 'liao': 4945,
 'bring': 1823,
 'home': 4161,
 'wendy': 8972,
 'allo': 1143,
 'braved': 1793,
 'buses': 1894,
 'taken': 8057,
 'trains': 8446,
 'triumphed': 8482,
 'we': 8918,
 're': 6753,
 'ham': 3956,
 'jolly': 4628,
 'rest': 6937,
 'hmmmhow': 4136,
 'players': 6345,
 'selected': 7235,
 'flippin': 3460,
 'yet': 9313,
 'board': 1709,
 'working': 9128,
 'issue': 4509,
 'overheating': 6090,
 'reslove': 6924,
 'software': 7568,
 'inst': 4439,
 'pending': 6224,
 'around': 1313,
 '8o': 908,
 'clock': 2234,
 '1000s': 296,
 'girls': 3743,
 'local': 5038,
 'virgins': 8788,
 '4fil': 659,
 'sexual': 7290,
 'cute': 2557,
 '69911': 756,
 '150p': 359,
 'nope': 5822,
 'since': 7430,
 'ayo': 1437,
 'travelled': 8463,
 'forgotten': 3521,
 'guy': 3924,
 'maybe': 5303,
 'yck': 9282,
 'called': 1950,
 'dad': 2573,
 'oredi': 6044,
 'alright': 1154,
 'head': 4016,
 'deep': 2680,
 'sigh': 7408,
 'surprised': 7989,
 'havent': 4009,
 'gone': 3793,
 'net': 5718,
 'cafe': 1923,
 'office': 5937,
 'pm': 6370,
 'hospital': 4202,
 'asked': 1343,
 '3mobile': 596,
 '0870': 72,
 'chatlines': 2111,
 'inclu': 4379,
 'mins': 5429,
 'india': 4396,
 'cust': 2548,
 'servs': 7277,
 'sed': 7218,
 'yes': 9297,
 'l8er': 4816,
 'mega': 5336,
 'bailiff': 1470,
 'due': 2990,
 'days': 2630,
 '250': 468,
 '800': 807,
 'bathe': 1518,
 'getting': 3724,
 'threats': 8268,
 'sales': 7102,
 'executive': 3238,
 'shifad': 7336,
 'raised': 6713,
 'complaint': 2327,
 'message': 5375,
 'sthis': 7806,
 'increase': 4389,
 'chance': 2083,
 'winning': 9054,
 'queen': 6679,
 'royal': 7040,
 'wedding': 8938,
 'reached': 6756,
 'railway': 6709,
 'happen': 3974,
 'probably': 6566,
 'gonna': 3796,
 'wee': 8943,
 'bit': 1656,
 'pa': 6107,
 'aha': 1087,
 'waited': 8847,
 'yesterday': 9312,
 'flights': 3457,
 'europe': 3185,
 'b4': 1438,
 '10th': 312,
 'sept': 7266,
 'friend': 3589,
 '09050000555': 181,
 'ba128nnfwfly150ppm': 1443,
 'shopping': 7359,
 'spree': 7719,
 'shop': 7357,
 '80878': 822,
 'wwwtxt2shopcom': 9232,
 'custcare': 2549,
 '08715705022': 139,
 '1x150pwk': 433,
 'btw': 1862,
 'youre': 9345,
 'alibi': 1134,
 'cutting': 2562,
 'hair': 3945,
 'whole': 9016,
 'way': 8912,
 'evening': 3192,
 'ttyl': 8512,
 'watching': 8901,
 'house': 4215,
 'entertaining': 3137,
 'hugh': 4259,
 'laurie': 4883,
 'stick': 7807,
 'indeed': 4393,
 'especially': 3170,
 'responding': 6932,
 'went': 8974,
 'diwali': 2853,
 'makes': 5221,
 'died': 2784,
 'people': 6228,
 'seems': 7226,
 'special': 7659,
 'first': 3431,
 'sight': 7410,
 'remain': 6863,
 'till': 8300,
 'maintain': 5217,
 'life': 4957,
 'ends': 3114,
 'cr': 2469,
 'shes': 7332,
 'ya': 9268,
 'knw': 4791,
 'vl': 8802,
 'givits': 3750,
 'kanoanyway': 4686,
 '1st': 424,
 'salary': 7100,
 'lol': 5057,
 'forgot': 3520,
 'eh': 3065,
 'wow': 9157,
 'healthy': 4025,
 'old': 5977,
 'airport': 1105,
 'rd': 6751,
 'thk': 8251,
 'else': 3087,
 'bathing': 1519,
 'dog': 2875,
 '2nd': 520,
 'tried': 8477,
 '1450': 350,
 '09053750005': 191,
 '310303': 559,
 'tcsstop': 8106,
 'sms': 7539,
 '08718725756': 152,
 '140ppm': 348,
 'may': 5301,
 'pub': 6636,
 'browsin': 1848,
 'compulsory': 2340,
 'movies': 5562,
 'laptop': 4857,
 'eat': 3028,
 'fo': 3482,
 'senor': 7254,
 'thank': 8187,
 'callingforgot': 1957,
 'happy': 3984,
 'onam': 5984,
 'sirjii': 7443,
 'remembered': 6867,
 'met': 5391,
 'insurance': 4447,
 'personmeet': 6254,
 'qatar': 6669,
 'insha': 4435,
 'allahrakhesh': 1139,
 'ex': 3224,
 'tata': 8086,
 'aig': 1100,
 'joined': 4618,
 'tisscotayseer': 8323,
 'able': 953,
 'late': 4868,
 'weeks': 8951,
 'plans': 6339,
 'ah': 1086,
 'poor': 6420,
 'babyhope': 1453,
 'urfeeling': 8668,
 'bettersn': 1619,
 'luv': 5154,
 'probthat': 6576,
 'overdose': 6088,
 'careful': 2003,
 'spk': 7690,
 'sn': 7546,
 'lots': 5093,
 'lovejen': 5109,
 'xxx': 9257,
 'hi': 4096,
 'crashed': 2479,
 'cuddled': 2531,
 'sofa': 7566,
 'show': 7379,
 'put': 6662,
 'new': 5732,
 'pictures': 6301,
 'facebook': 3284,
 'grumpy': 3893,
 'mom': 5507,
 'better': 1618,
 'lying': 5164,
 'always': 1164,
 'jokes': 4624,
 'boo': 1724,
 'moms': 5510,
 'making': 5224,
 'tortilla': 8416,
 'soup': 7637,
 'yummmm': 9361,
 'standing': 7756,
 'actually': 1008,
 'talk': 8064,
 'boss': 1744,
 'place': 6326,
 'year': 9286,
 'fixed': 3440,
 'kept': 4713,
 'telling': 8135,
 'hoped': 4187,
 'regretted': 6847,
 'pls': 6361,
 'nelson': 5714,
 'bbs': 1534,
 'comin': 2306,
 'expecting': 3251,
 'aint': 1102,
 'snow': 7557,
 'freezing': 3574,
 'windy': 9047,
 'bishan': 1655,
 'nearer': 5689,
 'buy': 1904,
 'early': 3015,
 'gotta': 3827,
 'park': 6158,
 'stayin': 7783,
 'trouble': 8484,
 'strangersaw': 7848,
 'he': 4015,
 'sorted': 7624,
 'nowstill': 5865,
 'bloke': 1687,
 'gona': 3792,
 'girl': 3739,
 'mrur': 5572,
 'thinks': 8246,
 '2getha': 500,
 'shag': 7302,
 'dointerested': 2888,
 'sextextukcom': 7289,
 'xxuk': 9256,
 'suzy': 7995,
 '69876': 753,
 'txts': 8551,
 '150': 353,
 'per': 6230,
 'msg': 5574,
 'website': 8934,
 'eatin': 3030,
 'shower': 7381,
 'baby': 1451,
 'wif': 9027,
 'carry': 2021,
 'num': 5878,
 '98321561': 923,
 'familiar': 3311,
 'bec': 1557,
 'temple': 8145,
 'na': 5642,
 'completed': 2330,
 'degree': 2691,
 'joining': 4621,
 'finance': 3406,
 'spoke': 7702,
 'maneesha': 5240,
 'wed': 8936,
 'satisfied': 7136,
 'experience': 3254,
 'reply': 6899,
 'toll': 8370,
 'tylers': 8554,
 'minor': 5428,
 'crisis': 2502,
 'sooner': 7609,
 'asap': 1332,
 'box': 1758,
 'dependents': 2721,
 'fishrman': 3434,
 'woke': 9098,
 'mrng': 5570,
 'dark': 2598,
 'found': 3537,
 'sack': 7084,
 'ful': 3622,
 'stones': 7823,
 'strtd': 7869,
 'throwin': 8274,
 'thm': 8253,
 'in2': 4374,
 'sea': 7200,
 'pass': 6176,
 'atlast': 1368,
 'jus': 4660,
 '1stone': 427,
 'rose': 7029,
 'tht': 8281,
 'nt': 5870,
 'diamonds': 2772,
 'moraldont': 5536,
 'wake': 8853,
 'hellohow': 4056,
 'doingwhat': 2886,
 '2when': 539,
 'moving': 5564,
 'flat': 3449,
 'arrange': 1317,
 'lamp': 4841,
 'hello': 4052,
 'caroline': 2019,
 'darlin': 2602,
 'finished': 3419,
 'college': 2287,
 'finish': 3417,
 'kate': 4693,
 'chillaxin': 2170,
 'break': 1799,
 'noe': 5797,
 'searching': 7202,
 'breather': 1808,
 'promise': 6598,
 'wont': 9109,
 'granted': 3851,
 'fulfil': 3623,
 'wonderful': 9106,
 'blessing': 1679,
 'midnight': 5402,
 'earliest': 3014,
 'macho': 5187,
 'budget': 1868,
 'bb': 1527,
 'bold': 1716,
 'saw': 7152,
 'dollars': 2892,
 'fb': 3346,
 'list': 5006,
 'princess': 6547,
 'kitty': 4758,
 'shaved': 7322,
 'natural': 5676,
 'ahhhhjust': 1091,
 'woken': 9099,
 'uphad': 8651,
 'bad': 1462,
 'dream': 2943,
 'thoso': 8258,
 'comedy': 2299,
 'guess': 3909,
 'adult': 1038,
 'learn': 4905,
 'real': 6766,
 'danger': 2593,
 'peeps': 6218,
 'using': 8694,
 'drugs': 2972,
 'comment': 2311,
 'secret': 7209,
 'admirer': 1026,
 'looking': 5072,
 'ufind': 8565,
 'rreveal': 7045,
 'specialcall': 7660,
 '09058094565': 199,
 'wot': 9149,
 'wear': 8923,
 'shirts': 7347,
 'jumpers': 4655,
 'hat': 3997,
 'belt': 1601,
 'cribbs': 2497,
 'fineabsolutly': 3412,
 'try': 8498,
 'another': 1214,
 'butt': 1900,
 '123': 330,
 'competition': 2323,
 '09050002311': 186,
 'b4280703': 1440,
 '08718727868': 159,
 '18': 396,
 'hurt': 4285,
 'colours': 2293,
 'euro': 3182,
 '2004': 440,
 '241': 461,
 'offer': 5932,
 'england': 3123,
 'flag': 3444,
 '3lions': 591,
 'tone': 8382,
 'click': 2230,
 'following': 3489,
 'service': 7274,
 'info': 4409,
 'pansy': 6133,
 'youve': 9352,
 'living': 5023,
 'jungle': 4657,
 'two': 8541,
 'years': 9287,
 'driving': 2961,
 'worried': 9138,
 'unconvinced': 8595,
 'isnt': 4508,
 'elaborate': 3074,
 'test': 8163,
 'willpower': 9040,
 'specially': 7664,
 'receive': 6794,
 'pound': 6460,
 '08712402050': 108,
 'lines': 4991,
 'close': 2237,
 '10ppm': 311,
 'apply': 1262,
 'ag': 1067,
 'promo': 6601,
 'missed': 5448,
 'slept': 7493,
 'lesson': 4936,
 'boytoy': 1780,
 'teasing': 8120,
 'kiss': 4752,
 '8007': 810,
 '25p': 472,
 'alfie': 1128,
 'moons': 5534,
 'children': 2166,
 'song': 7601,
 'mob': 5484,
 'm8s': 5176,
 'charity': 2099,
 'nokias': 5811,
 'poly': 6404,
 'polys': 6411,
 'zed': 9374,
 '08701417012': 76,
 ...}

In [17]:
len(bag_of_words.vocabulary_)

9385

In [18]:
txt_transform = bag_of_words.transform(data.text)
print(txt_transform.shape)

(5559, 9385)

In [19]:
from sklearn.naive_bayes import MultinomialNB
mn = MultinomialNB()

In [20]:
mn.fit(txt_transform,data.type)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [21]:
new_sms = data.iloc[4][1]

In [22]:
new_sms

'okmail Dear Dave final notice collect 4 Tenerife Holiday 5000 CASH award Call 09061743806 landline TCs SAE Box326 CW25WX 150ppm'

In [32]:
def ham_spam(text):
    test = bag_of_words.transform([text])
    print(mn.predict_proba(test))
    print(mn.predict(test))

In [35]:
ham_spam()

[[4.28005227e-19 1.00000000e+00]]
['spam']

In [41]:
import Text_cleaning_LibraryCopy

NameError: name 'null' is not defined